*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;}
body{
min-height: 100vh;
min-width: 100vw;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(243, 173, 255);
}
.pantalla{
user-select: none;
}
.pantalla .cronometro{
height: 100px;
background: #ff92b1;
display: flex;
align-items: center;
justify-content: center;
border-radius: 2rem;
box-shadow:  0px 0px 8px 5px #f9326b;
border: none;
}

.pantalla .cronometro span {

text-align: center;
font-size: 45px;
font-weight: 550;
color: rgb(61, 34, 84);
}

.cronometro span.separador{
width: 20px;
}

.cronometro span.separador-mili, .cronometro span.milisegundo{
color: blueviolet;
}

.pantalla .botones {
text-align: center;
margin-top: 30px;
}

.botones button{
padding: 6px 16px;
outline: none;
border: none;
margin: 0px 10px;
color: rgb(51, 105, 99);
background-color: rgb(231, 255, 255);
font-size: 20px;
font-weight: 500;
border-radius: 0.9rem;
cursor: pointer;
box-shadow: 3px 4px 3px 0px rgb(222, 59, 200);
}

.botones button.on{
pointer-events: none;
opacity: 0.7;
}
